@import "bourbon/bourbon";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300,200,100);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

body {
	font-family: 'Raleway', sans-serif;
	// background-color: #211D1E;
	// background-color: black;
	// z-index: -999;

}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

.content-wrap {
	// z-index: 1;
}

.navbar {
    margin-bottom: 0px;
    // z-index: 2;
}

.top-address-bar {
	// z-index: 5;


	background-color: $tuatara;
	color: $iron;
	padding-top: .5rem;
	padding-bottom: .5rem;

	.logo {
		position: relative;

		img {
			height: 100px;
			position: fixed;
			z-index: 3;
		}
	}

	.top-address {
		// border: 1px solid black;
	// z-index: 2;
		
	}
}

.fp-blk-1 {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 5rem;
	background-color: white;

	h2 {
		color: lighten( $gray-light, 20% );
	}
	p {
		color: lighten( $gray-light, 10% );
	}

	.img-box {
		padding-top: 4rem;
		// border: 1px solid red;

		h4 {
			padding-top: 1.5rem;
			padding-bottom: 1rem;
			color: lighten( $gray-light, 10% );

		}
		
	}
}

.fp-blk-2 {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 5rem;
	color: white;

	.img-box {

		padding-top: 4rem;


		.img-box-text {
			text-align: left;
		}

		h4 {
			padding-top: 1.5rem;
			padding-bottom: 3rem;
		}
	}
}

.fp-blk-3 {
	// z-index: 5;
	background: white;

	.container {
		padding-top: 4rem;
		padding-bottom: 4rem;

		h3 {
			color: lighten( $gray-light, 20% );
		}
		p {
			font-size: 3rem;
			font-weight: 300;
			color: lighten( $gray-light, 20% );
			text-align: center;

		}
		.more-button {
			padding-top: 3rem;
		}
	}
}

.fp-blk-4 {
	// z-index: 5;
	background: $gray-darker;

	.container {
		padding-top: 4rem;
		padding-bottom: 4rem;

		h3 {
			color: lighten( $gray-light, 20% );
		}
		p {
			font-size: 2rem;
			font-weight: 300;
			color: lighten( $gray-light, 20% );
			text-align: center;

		}
		.more-button {
			padding-top: 3rem;
		}
	}
}


.fp-blk-5 {
	// z-index: 5;
	background: white;
	text-align: center;

	.container {
		padding-top: 4rem;
		padding-bottom: 4rem;

		h2 {
			color: lighten( $gray-light, 20% );
			padding-bottom: 3rem;
		}
		
		.more-button {
			padding-top: 3rem;
		}
	}
}

// .footer-main {

// 	@media (max-width: 991px) {
// 	    // display: none;
// 		// position: relative;
// 		// height: auto;
// 		color: white;
// 		padding-top: 5rem;
// 		background-color: black;
// 	}

// 	.footer-body {
// 		color: white;
// 		padding-top: 5rem;
// 		background-color: black;

// 	}



// 	padding-top: 6rem;
// 	position: relative;
// 	height: 400px;
// 	z-index: -999;
// 	background-color: $steel;
// 	color: white;

// 	.row {
// 		position: fixed;
// 		bottom: 100px;

// 		@media (max-width: 991px) {
// 		    // display: none;
// 			position: relative;
// 			height: auto;
// 			color: white;
// 			padding-top: 5rem;
// 			padding-bottom: 0;
// 			margin-bottom: 0;
// 			background-color: black;
// 		}

// 	}

// 	#copyright {
// 		position: relative;
// 			// border: 1px solid red;


// 		p {
// 			border: 1px solid red;
// 			position: fixed;
// 			bottom: 0;
// 			padding-bottom: 2rem;
// 			padding-top: 2rem;
// 			z-index: -999;

// 			width: 100%;
// 			background-color: black;
// 			color: white;

// 			margin-bottom: -0.5rem;

// 			@media (max-width: 991px) {
// 		    // display: none;
// 				position: relative;
// 				height: auto;
// 				color: white;
				
// 				background-color: black;
// 			}
// 		}
// 	}

	
// }

/**
 *
 * Page Styles
 *
 */

.pg-content {

	background: white;
	// text-align: center;

	.pg-header {
		
		.pg-header-txt {
			padding-top: 12rem;
			padding-left: 3rem;
			color: white;

			h1 {
				text-shadow: 1px 1px 3px gray;
				font-size: 5rem;
				font-weight: 300;
				text-transform: uppercase;
			}
			h4 {
				text-shadow: 1px 1px 3px gray;
				font-weight: 300;
			}
		}

	}

	.container {
		margin-top: 3rem;
		padding-bottom: 2rem;

		font-size: 2rem;
		font-weight: 200;
		color: $gray-light;

		img {
			padding-top: 2rem;
		}

		// border: 1px solid red;
	}
}

/**
 *
 * Widget Styles
 *
 */

.widget {

	// border: 1px solid red;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;

	background-color: $gray-lighter;

	.widget-title {
		font-size: 2rem;
		font-weight: 400;
		color: $gray-light;
	}

	ul {
		list-style: none;
		padding-left: 0;

		li {
			font-size: 1.5rem;
			padding-top: 1rem;
			font-weight: 300;

		}
	}

}














































